<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dossp.crp.func.user.mapper.UserRoleMapper" >
  <resultMap id="userRoleMap" type="com.dossp.crp.func.user.model.UserRoleModel" >
	<id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="findUserRole" parameterType="Long" resultMap="userRoleMap">
  		SELECT
			ur.role_id,
			role.NAME AS role_name
		FROM
			func_user_role ur,
			func_role role
		WHERE
			ur.role_id = role.id
		AND role.state = "0"
		AND ur.user_id = #{userId}
  </select>
  
  <delete id="deleteByUserId" parameterType="long" >
  	delete from func_user_role where user_id = #{userId}
  </delete>
  
  
  
  
</mapper>