<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dossp.crp.func.user.mapper.UserMapper">

	<resultMap id="userMap"
		type="com.dossp.crp.func.user.model.UserModel">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="corp_id" property="corpId" jdbcType="BIGINT" />
		<result column="pk_dic_unit" property="pkDicUnit" jdbcType="BIGINT" />
		<result column="dept_id" property="deptId" jdbcType="BIGINT" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="CHAR" />
		<result column="type" property="type" jdbcType="CHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="post" property="post" jdbcType="VARCHAR" />
		<result column="e_mail" property="eMail" jdbcType="VARCHAR" />
		<result column="landline" property="landline" jdbcType="VARCHAR" />
		<result column="telephone" property="telephone" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="corp_name" property="corpName" jdbcType="VARCHAR" />
		<result column="dept_name" property="deptName" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="corpMap"
		type="com.dossp.crp.dict.corp.model.CorpModel">
		<id column="corp_id" property="corpId" jdbcType="BIGINT" />
		<result column="corp_code" property="code" jdbcType="VARCHAR" />
		<result column="corp_name" property="name" jdbcType="VARCHAR" />
		<result column="corp_state" property="state" jdbcType="CHAR" />
		<result column="parent_dic_corp" property="parentDicCorp"
			jdbcType="BIGINT" />
	</resultMap>

	<resultMap id="deptMap"
		type="com.dossp.crp.dict.dept.model.DeptModel">
		<id column="dept_id" property="deptId" jdbcType="BIGINT" />
		<result column="pk_sys_corp" property="pkSysCorp" jdbcType="BIGINT" />
		<result column="dept_code" property="code" jdbcType="VARCHAR" />
		<result column="dept_name" property="name" jdbcType="VARCHAR" />
		<result column="dept_state" property="state" jdbcType="CHAR" />
	</resultMap>

	<resultMap id="menuMap" type="com.dossp.crp.func.menu.model.MenuModel">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="seq" property="seq" jdbcType="BIGINT" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="CHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="BIGINT" />
	</resultMap>

	<select id="findUserList" resultMap="userMap" parameterType="com.dossp.crp.func.user.vo.UserVo">
		SELECT 
			*,
			(select b.name from dict_corp b where a.corp_id = b.id) as corp_name,
			(select b.name from dict_dept b where a.dept_id = b.id) as dept_name
		FROM 
			func_user a
		<where>
			<if test="corpId != null and corpId != ''">
				AND a.corp_id = #{corpId}
			</if>
			<if test="unitId != null and unitId != ''">
				AND a.pk_dic_unit = #{unitId}
			</if>
			<if test="deptId != null and deptId != ''">
				AND a.dept_id = #{deptId}
			</if>
			<if test="name != null and name != ''">
				AND a.name like CONCAT('%', #{name} ,'%')
			</if>
			<if test="roleId != null and roleId != ''">
				AND a.id in (select b.id from func_user_role b where b.id = #{roleId}) 
			</if>
			<if test="account != null and account != ''">
				AND a.account like CONCAT('%', #{account} ,'%')
			</if>
		</where>
		GROUP BY a.id
	</select>

	<select id="findDept" resultMap="deptMap"
		parameterType="com.dossp.crp.dict.dept.model.DeptModel">
		SELECT
			dept.dept_id,
			dept.code AS dept_code,
			dept.name AS dept_name,
			dept.state AS dept_state
		FROM
			dic_dept dept
		WHERE
			dept.state = "0"
			AND dept.pk_sys_corp = #{userCorpId}
	</select>
	<select id="findUser" resultMap="userMap" parameterType="long">
		SELECT
			a.*,
			(select b.name from dict_corp b where a.corp_id = b.id) as corp_name,
			(select b.name from dict_dept b where a.dept_id = b.id) as dept_name
		FROM
			func_user a
		WHERE
			a.id = #{_parameter}
		
	</select>


	<select id="findUserByAccount" parameterType="string" resultMap="userMap">
		SELECT
			a.*,
			(select b.name from dict_corp b where a.corp_id = b.id) as corp_name,
			(select b.name from dict_dept b where a.dept_id = b.id) as dept_name
		FROM
			func_user a
		WHERE 
			a.account = #{_parameter}
			AND a.state = '0'
	</select>

	<select id="findUserMenuList" parameterType="long" resultMap="menuMap">
		SELECT DISTINCT
			m.*
		FROM
			func_user u
		INNER JOIN 
			func_user_role ur ON u.id = ur.user_id
		INNER JOIN 
			func_role r ON ur.role_id = r.id
		INNER JOIN
			func_role_menu rm ON rm.role_id = r.id
		INNER JOIN
			func_menu m ON rm.menu_id = m.id
		WHERE
		m.state = '0'
		AND u.id = #{_parameter}
		ORDER BY m.seq
	</select>

</mapper>